<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WeiboRegServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>regService</servlet-name>
    <servlet-class>cn.panshihao.weiboregserver.servlet.regService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regService</servlet-name>
    <url-pattern>/regService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emailService</servlet-name>
    <servlet-class>cn.panshihao.weiboregserver.servlet.emailService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailService</servlet-name>
    <url-pattern>/emailService</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.panshihao.weiboregserver.listener.startListener</listener-class>
  </listener>
  
  <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>cn.panshihao.weiboregserver.filter.EncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
      <filter-name>EncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>